ion-header {
    ion-toolbar {
      --background: #35495E;
      --color: #FFFFFF;
      ion-back-button {
        --color: #FFFFFF;
      }
    }
  }
  
  ion-content {
    --background: #E0E0E0;
    ion-list {
      ion-item {
        --background: #FFFFFF;
        ion-label {
          color: #35495E;
        }
        ion-button {
          --background: #d62323;
          --color: #FFFFFF;
        }
      }
    }
  }
  